.warning { 
  color:orange;
}

.post-img_center { 
  display:block; // La clave es el display block!
  margin-left:auto;
  margin-right:auto;
}

img { 
  margin-top:1rem !important;
  margin-bottom:4rem !important;
}

.logo { 
  width:50%;
}
